html {
	font-size: 62.5%;
	line-height: 62.5%;
}

body {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: 48px; font-size: 4.8rem;
	line-height: 50px; line-height: 5.0rem;
	
}

highlight_font {
	font-family: 'Pacifico', Georgia, Times, serif;
}
h1 {
	font-size: 70px;
	font-weight: 900;
	display: inline;
	margin-bottom: 30px;
	line-height: 100px;
}

.page {
	min-height: 1200px;
}
.page:nth-child(1) {
	background-color: #fff;
	background-image: url(../img/black-noise.png);
	background-repeat: repeat;
	background-position: 0 0;
	text-align: center;
}
.page:nth-child(1) .name {
	position: relative;
	top: 200px; top: 20rem;
	font-size: 110px; font-size: 11rem;
	font-weight: 100;
}
.page:nth-child(1) .tag {
	position: relative;
	top: 400px; top: 40rem;
}
.page:nth-child(1) .tag_responsive {
	position: relative;
	top: 450px; top 4.5rem;
	font-size: 50%;
}
.page:nth-child(1) .tag2 {
	position: relative;
	top: 450px; top 50rem;
	font-size: 60%;
}

.page:nth-child(2) {
	background-color: #e4e4e4;
	background-image: url(../img/black-noise.png);
	background-repeat: repeat;
	background-position: 0 0;
	padding-top: 60px;
}

.page:nth-child(3) {
	background-image: url(../images/abe.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.page:nth-child(4) {
	background-image: url(../images/tom.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding-top: 70px;
}

.page:nth-child(5) {
	background-image: url(../images/cherryblossom.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	padding-top: 70px;
}

.venn {
	background-image: url(../images/venn_2.png);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	width: 600px;
	height: 535px;
	margin: 0 auto 0 auto;
	text-align: center;
}

.venn_inner {
	height: 100px;
	width: 525px;
	text-align: center;
	margin: 0 auto 0 auto;
	padding-top: 100px;
}
.venn_copy { font-size: 40px; font-size: 4rem; }
.venn_copy:nth-child(1) { float: left;}
.venn_copy:nth-child(2) { float: right;}
.venn_copy:nth-child(3) { padding-top: 80px;}
.venn_copy:nth-child(4) { padding-top: 150px;}

.rotator_body {
	text-align: left;
}
.rotator_nav {
	font-size: 80%;
	width: 600px;
	margin: 30px auto 30px auto;
	font-weight: 100;
	text-align: center;
}
.navButton {
	margin-right: 100px;
}

author {
	display: block;
	margin-top: 15px;
	margin-left: 15%;
	color: gray;
	float: right;
}
author > aname {
	font-family: "Nothing You Could Do";
}
author > atitle {
	font-family: 'Cabin';
	font-size: 40%;
}

.company_logo {
	/*border: 5px solid #e4e4e4;
	padding: 5px 5px 5px 5px;*/
	margin-top: 20px;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	text-align: center;
}

.company_img {
	padding: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	width: 90%;
}

a:link {
	text-decoration: none;
	color: #333333;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: none;
	color: #333333;
	/*border-bottom: 4px dashed #333;*/
	color: #777;
}

.page:nth-child(5) li {
	line-height: 80px;
}

.ss-icon a:hover {
	border-bottom: 0;
}

ul, li {
	list-style-type: none;
	margin-left: 30px;
}
li:nth-child(5) {
	margin-left: 80px;
}
#arrow-controls {
	right: 10%;
}

#arrow-controls a{
	background-color: #fff;
	opacity: 0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
#arrow-controls a:hover{
	color: #888;
}

